%h1= @album.name + " by " + @album.band.name

%table
  %thead
    %tr
      %th Name
      %th Lyrics
      %th Minutes
      %th Seconds
      %th
      %th
      %th

  %tbody
    - @album.songs.each do |song|
      %tr
        %td= song.name
        %td= song.lyrics
        %td= song.minutes
        %td= song.seconds
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_band_album_song_path(song.band,song.album,song.id)
        %td= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Song', new_band_album_song_path(@album.band,@album)
= link_to 'Back to Albums', band_albums_path(@album.band,@album)
