%h1= @album.name + " by " + @album.band.name

%table{:id => "table"}
  %thead
    %tr
      %th Name
      %th Minutes
      %th Seconds
      %th
      %th
      %th

  %tbody
    - @album.songs.each_with_index do |song,i|
      -rowclass= ""

      -if i % 2 == 0
        - rowclass = "even"
      -else
        - rowclass = "odd"
      %tr
        %td{:class => "#{rowclass}"}= song.name
        %td{:class => "#{rowclass}"}= song.minutes
        %td{:class => "#{rowclass}"}= song.seconds
        %td{:class => "#{rowclass}"}= link_to 'Show', song
        %td{:class => "#{rowclass}"}= link_to 'Edit', edit_band_album_song_path(song.band,song.album,song.id)
        %td{:class => "#{rowclass}"}= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Song', new_band_album_song_path(@album.band,@album)
= link_to 'Back to Albums', band_albums_path(@album.band,@album)
