%p#notice= notice

%h1
  = @song.album.name + " by the " + @song.band.name
%p
  %b Name:
  = @song.name
%p
  %b Lyrics:
  = @song.lyrics
%p
  %b Minutes:
  = @song.minutes
%p
  %b Seconds:
  = @song.seconds

= link_to 'Edit', edit_band_album_song_path(@song.band,@song.album,@song.id)
\|
= link_to 'Back', band_album_songs_path(@song.band,@song.album )
