%h1 Listing albums

%table
  %thead
    %tr
      %th Band
      %th Name
      %th Year
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      -next if album.band.id == @band.id
      %tr
        %td= album.band.name
        %td= album.name
        %td= album.year
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Back to Bands', bands_path
