%h1
  = "Albums by " + @band.name

%table{:id => "table"}
  %thead
    %tr
      %th Name
      %th Year
      %th
      %th
      %th

  %tbody
    - @band.albums.each_with_index do |album,i|
      -rowclass= ""

      -if i % 2 == 0
        - rowclass = "even"
      -else
        -rowclass = "odd"

      %tr
        %td{:class => "#{rowclass}"}= album.name
        %td{:class => "#{rowclass}"}= album.year
        %td{:class => "#{rowclass}"}= link_to 'Show', band_album_songs_path(@band.id,album.id)
        %td{:class => "#{rowclass}"}= link_to 'Edit', edit_band_album_path(@band,album)
        %td{:class => "#{rowclass}"}= link_to 'Destroy', album_path(album.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Add Album', new_band_album_path(@band.id)

= link_to 'Back to Bands', bands_path
