%h1 All Bands List

%table
  %thead
    %tr
      %th 
      %th
      %th
      %th

  %tbody
    - @bands.each do |band|
      -puts band.id
      %tr
        %td= band.name
        %td= link_to 'Show', band_albums_path(band.id)
        %td= link_to 'Edit', edit_band_path(band)
        %td= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Band', new_band_path
