%h1 All Bands List

%table{:id => "table"}
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @bands.each_with_index do |band,i|
      -rowclass= ""

      -if i % 2 == 0
        - rowclass = "even"
      -else
        - rowclass = "odd"

      %tr
        %td{:class => "#{rowclass}"}= band.name
        %td{:class => "#{rowclass}"}= link_to 'Show', band_albums_path(band.id)
        %td{:class => "#{rowclass}"}= link_to 'Edit', edit_band_path(band)
        %td{:class => "#{rowclass}"}= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Band', new_band_path
